[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Molsketch
Exec=molsketch-qt5
Icon=molsketch
DocPath=molsketch/index.html
MimeType=application/x-molsketch;
Terminal=false
Categories=Qt;Education;Science;
GenericName=2D molecular structures editor
Comment=Editor for 2D molecular structures
GenericName[nl]=Molecuulstructuur bewerker
Comment[nl]=Programma om molecuulstructuren mee te tekenen
GenericName[de]=Moleküleditor
Comment[de]=Editor für 2D-Molekülstrukturen
